.footer-container {
    background-color: transparent;
    color: white;
    width: calc(100% - 20px);
    position: absolute;
    bottom: 0;
    left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: 0.9rem;
}

.footer-right {
    margin-left: auto;
    text-align: right;
}

@media (max-width: 1440px) {
    .footer-container {
        left: 10px;
        padding-right: 10px;
        font-size: 1.25rem;
    }
}

@media (max-width: 1440px) {
    .footer-container {
        left: 10px;
        padding-right: 10px;
        font-size: 1.15rem;
    }
}

@media (max-width: 1024px) {
    .footer-container {
        left: 10px;
        padding-right: 10px;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .footer-container {
        font-size: 1rem;
        justify-content: center;
    }

    .footer-right {
        display: none;
    }
}
