.frame-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 85vh;
    margin: 0 auto;
    max-width: 1280px;
    max-height: 720px;
    border-image-slice: 233 375 233 375;
    border-image-width: 50px 40px 40px 40px;
    border-image-outset: 40px;
    border-image-repeat: stretch stretch;
    border-image-source: url("/Assets/Frame/frame-new.png");
}

.frame-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media (max-width: 1024px) {
    .frame-container {
        width: 100%;
        height: 100%;
    }
}
